@media screen and (max-width: 744px) {
  .grdient {
    width: 100%;
    height: 1250px;
  }
  .section-1 {
    width: 93.61%;
    margin: auto;
  }
  .head-intro {
    display: block;
    justify-content: space-between;
  }
  .list-item {
    width: 51.5%;
  }
  .home {
    width: 25.35%;
  }
  .text-box {
    width: 80.64%;
    margin: auto;
    margin-top: 75px;
  }
  .pos-box {
    width: 58.46%;
    margin: auto;
    margin-top: 100px;
  }
  /* section 2 */
  .section-2 {
    width: 76.07%;
    height: 766px;
  }
  .sec-child-1 {
    width: 84.09%;
  }
  .sec-child-2 {
    flex-wrap: wrap;
    row-gap: 25px;
  }
  .child-box h3 {
    margin-top: 1rem;
  }
  .section-3 {
    height: 420px;
  }
  .run-img {
    width: 36.78%;
  }
  .Trainings-txt {
    width: 95%;
    margin-top: 70px;
  }
  .art {
    width: 93.61%;
    margin: 70px auto 45px auto;
  }
  .form-container {
    width: 100%;
    height: 830px;
    flex-direction: column;
  }

  .form-1 {
    width: 41.66%;
    padding-top: 32px;
    margin: 0;
    margin-left: 3.19%;
  }
  .form-tbl {
    margin-top: 46px;
  }
  .form-2 {
    width: 93.61%;
    height: 450px;
    margin-left: 3.19%;
  }
  .artical-2 h1 {
    margin-top: 70px;
  }
  .footer-container {
    width: 100%;
    height: 870px;
    margin-top: 70px;
  }
  .fitness {
    width: 64.67%;
  }
  .second-container {
    flex-direction: column;
    gap: 100px;
  }
  .get-strt {
    width: 75%;
  }
  .line {
    width: 93.61%;
  }
}
