@media screen and (max-width: 744px) {
  .grdient {
    width: 100%;
    height: 1250px;
  }
  .section-1 {
    width: 93.61%;
    margin: auto;
  }
  .head-intro {
    display: block;
    justify-content: space-between;
  }
  .text-box {
    width: 80.64%;
    margin: auto;
    margin-top: 75px;
  }
  .pos-box {
    width: 58.46%;
    margin: auto;
    margin-top: 100px;
  }
  /* section 2 */
  .section-2 {
    width: 76.07%;
    height: 766px;
  }
  .sec-child-1 {
    width: 84.09%;
  }
  .sec-child-2 {
    flex-wrap: wrap;
    row-gap: 25px;
  }
  .child-box h3 {
    margin-top: 1rem;
  }
}
