@media screen and (max-width: 393px) {
  .grdient {
    height: 1000px;
  }
  .list-item {
    display: none;
  }
  .nav-container {
    width: 89.82%;
    margin: auto;
  }
  .bars {
    display: block;
    align-content: center;
  }
  .section-1 {
    width: 100%;
    margin: 0;
  }
  .head-intro {
    display: block;
    justify-content: space-between;
  }
  .text-box {
    width: 89.82%;
    margin-top: 51px;
  }
  .text-box h1 {
    width: 86.93%;
    font-size: 36px;
    line-height: 2.4rem;
  }
  #shape {
    font-size: 72px;
  }
  .btn-main {
    width: 100%;
    display: flex;
    gap: 10px;
  }
  .pos-box {
    width: 89.82%;
    margin: auto;
    margin-top: 48px;
  }
  .box-2 {
    width: 44%;
    top: 270px;
    left: 12px;
  }
  .box-1 {
    width: 42%;
    top: 48px;
    right: 12px;
  }
  .section-2 {
    width: 100%;
    height: 1400px;
  }
  .sec-child-1 h1 {
    width: 100%;
    font-size: 32px;
    margin: 0;
  }
  .sec-child-1 p {
    letter-spacing: 1px;
    line-height: 25px;
  }

  .sec-child-1 {
    width: 100%;
  }
  .sec-child-2 {
    margin-top: 3.7rem;
    flex-direction: column;
    align-items: center;
  }
  .section-3 {
    flex-direction: column;
    height: 100%;
    padding: 30px 33px;
    border-radius: 25px;
  }

  .sec-3-txt {
    width: 100%;
    margin: 0;
  }
  .btn-3 {
    width: 100%;
  }
  .run-img {
    width: 100%;
    height: 170px;
    margin: 30px 0 0 0;
    object-fit: cover;
    border-radius: 15px;
  }
  .section-4 {
    width: 89.82%;
    height: 675px;
    margin: auto;
  }
  .six-img {
    margin-top: 36px;
    height: 256px;
  }
  .i1 {
    width: 55%;
  }
  .i2 {
    width: 45%;
  }

  .i3 {
    display: none;
    position: absolute;
  }
  .i4 {
    width: 45%;
  }
  .i5 {
    width: 55%;
  }
  .i6 {
    display: none;
    position: absolute;
  }
  .exercise-img {
    width: 100%;
  }
  .art {
    /* width: 46.52%; */
    /* height: 120px; */
    margin: 0 auto;
  }
  .art h1 {
    font-size: 2rem;
  }
  .art p {
    letter-spacing: 1px;
  }
  .form-container {
    width: 100%;
    height: 720px;
  }
  .form-1 {
    width: 80.4%;
  }
  .form-txt {
    width: 100%;
    font-size: 16px;
  }
  .form-tbl {
    margin-top: 23px;
  }
  .form-2 {
    padding-top: 0px;
    margin-top: 40px;
  }
  .artical-2 h1 {
    font-size: 32px;
  }
  .art-para {
    width: 84.2%;
    margin: auto;
    text-align: center;
    letter-spacing: 1px;
  }
  .team-img {
    height: 1200px;
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
  .Bell {
    display: none;
    position: absolute;
  }
  .Russell {
    display: none;
    position: absolute;
  }
  /* footer part */
  .footer-container {
    height: 1100px;
  }
  .second-container {
    width: 89.2%;
    display: block;
    margin: auto;
  }

  .fitness {
    width: 80.67%;
  }
  .fitness > p {
    width: 100%;
    letter-spacing: 1px;
    line-height: 25px;
  }

  .get-strt {
    flex-direction: column;
    margin-top: 30px;
  }
}
