@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

@import url("https://fonts.cdnfonts.com/css/miama");
#shape {
  font-family: "Miama", sans-serif;
  font-size: 9rem;
  font-weight: 400;
  letter-spacing: 5px;
}
/* head section part */

.section-1 {
  width: 73.61%;
  margin: auto;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  margin-top: 3.7rem;
}
.nav-container h3 {
  color: rgba(230, 83, 60, 1);
  font-size: 36px;
  font-weight: 700;
}

.list-item {
  width: 43.87%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  border: 0.5px solid rgb(71, 69, 69);
  border-radius: 2.5rem;
  padding-right: 1rem;
}
.home {
  width: 19.35%;
  height: 2.2rem;
  background-color: rgba(230, 83, 60, 1);
  color: white;
  text-align: center;
  align-content: center;
  border-radius: 2.8rem;
  font-size: 1rem;
  font-weight: 600;
}
.text-box {
  width: 49.05%;
  margin-top: 6rem;
}
.text-box h1 {
  font-size: 4.8rem;
  font-weight: 900;
  color: white;
  line-height: 5.3rem;
}

.btn-1 {
  width: 224px;
  height: 54px;
  background-color: rgba(230, 83, 60, 1);
  border-radius: 2.6rem;
  border: none;
  color: white;
  font-size: 18px;
  font-weight: 600;
}
.btn-2 {
  width: 224px;
  height: 54px;
  background-color: rgba(17, 17, 17, 1);
  border-radius: 2.6rem;
  border: 1px solid white;
  color: white;
  font-size: 18px;
  font-weight: 600;
}
.head-intro {
  display: flex;
  justify-content: space-between;
}

.red-cricle {
  display: flex;
  gap: 5px;
}
.red-cricle button {
  width: 40px;
  height: 40px;
  background-color: rgba(230, 83, 60, 1);
  border-radius: 50%;
  border: none;
}
.box {
  width: 14.24%;
  height: 98px;

  color: white;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border-radius: 12px;
}
.box-1 {
  text-align: center;
  align-content: center;
  position: absolute;
  top: 260px;
  right: 140px;
}
.box-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 580px;
  left: 758px;
}

/* SECTION-2 Part */

.sec-child-1 {
  width: 60%;
  margin: auto;
}
.sec-child-1 h1 {
  font-size: 3rem;
  font-weight: 900;
  color: white;
  line-height: 5.3rem;
  text-align: center;
}
.sec-child-1 p {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
}
.sec-child-2 {
  margin-top: 3.7rem;
  display: flex;
  justify-content: space-between;
}

.child-box {
  width: 230px;
  height: 274px;
}

.box-img {
  width: 180px;
  margin: auto;
}
.box-img img {
  border-radius: 50%;
  border: 5px solid rgb(31, 30, 30);
}
.child-box h3 {
  text-align: center;
  color: white;
  font-size: 1.1rem;
  font-weight: 600;
  margin-top: 1.87rem;
}
.child-box p {
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
}
/* SECTION-3 Part */
.section-3 {
  display: flex;
  justify-content: space-between;
  height: 370px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border-radius: 1.1rem;
  margin-top: 6rem;
  overflow: hidden;
}
.sec-3-txt {
  width: 41%;
  margin: 40px 0 40px 54px;
}
.sec-3-txt h1 {
  color: white;
  font-size: 3rem;
  font-weight: 900;
}
.sec-3-txt p {
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  margin-top: 0.9rem;
  margin-bottom: 2.1rem;
}
.run-img {
  width: 31%;
  height: 310px;
  background-position: cover;
  margin: 30px 32px 30px 0;
  border-radius: 1.1rem;
  /* border: 2px solid red; */
  overflow: hidden;
  position: relative;
  background-position: cover;
}
.run-img img {
  transform: scale(1);
  object-position: ;
}
/* SECTION-4 Part */
.section-4 {
  margin-top: 100px;
}
.section-4 > div {
  width: 63.2%;
}
.section-4 > div > h1 {
  color: white;
  font-size: 3rem;
  font-weight: 900;
  margin-bottom: 14px;
}
.section-4 > div > p {
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
}
.six-img {
  width: 100%;
  height: 400px;
  margin-top: 58px;
  border: 1px solid red;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.six-img img {
  height: 200px;
}
.i1 {
  width: 23.58%;
}
.i2 {
  width: 49.05%;
}
.i3 {
  width: 27.35%;
}
.i4 {
  width: 40.09%;
}
.i5 {
  width: 27.35%;
}
.i6 {
  width: 32.54%;
}
